.menu-main {
    -fx-background-color: #0f9d58;
    -fx-alignment: center-center;
}

.menu-main .radio-BTN {
    -fx-font-family: "Tahoma";
    -fx-text-fill: #fff;
}

.menu-main .radio-BTN:hover {
    -fx-background-color: #0d864c;
}

.menu-main .radio-BTN:selected {
    -fx-background-color: #056637;
}

.menu-sub {
    -fx-background-color: #5a5a5a;
}

.menu-grandsub {
    -fx-background-color: #ddd;
}

.menu-grandsub-light {
    -fx-background-color: #f4f4f4;
}

.button {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

/**/
/*  SCROLLBAR / SCROLLPANE */
/**/

.scrollpane {
    -fx-background-insets: 0;
    -fx-background-color: #ddd;
}

.scrollpane-light {
    -fx-background-insets: 0;
    -fx-background-color: #f4f4f4;
}

.scrollpane > .viewport {
   -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0;
	-fx-border-radius:0;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
	-fx-shape: " ";
	-fx-padding:0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #aaa;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 0;
}

.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color: #ddd;
}

.lbl {
    -fx-font-family: "Tahoma";
}

/**/
/*  BUTTONS */
/**/

.btn-norm-color {
    -fx-font-family: "Tahoma";
    -fx-text-fill: #fff;
    -fx-background-color: #0d864c;
    -fx-background-radius: 0;
}

.btn-norm-color .glyph {
    -fx-text-fill: #fff;
}

.btn-norm-color:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #056637;
}



.btn-norm-color-dark {
    -fx-font-family: "Tahoma";
    -fx-text-fill: #fff;
    -fx-background-color: #033E22;
    -fx-background-radius: 0;
}

.btn-norm-color-dark .glyph {
    -fx-text-fill: #fff;
}

.btn-norm-color-dark:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #0E3220;
}



.btn-norm-color-dark-light {
    -fx-font-family: "Tahoma";
    -fx-text-fill: #fff;
    -fx-background-color: #085731;
    -fx-background-radius: 0;
}

.btn-norm-color-dark-light .glyph {
    -fx-text-fill: #fff;
}

.btn-norm-color-dark-light:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #03361D;
}



.btn-norm-dark {
    -fx-font-family: "Tahoma";
    -fx-text-fill: #fff;
    -fx-background-color: #4f4f4f;
    -fx-background-radius: 0;
}

.btn-norm-dark .glyph {
    -fx-text-fill: #fff;
}

.btn-norm-dark:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #3f3f3f;
}



.btn-norm-light {
    -fx-font-family: "Tahoma";
    -fx-text-fill: #000;
    -fx-background-color: #ccc;
    -fx-background-radius: 0;
}

.btn-norm-light .glyph {
    -fx-text-fill: #000;
}

.btn-norm-light:hover {
    -fx-text-fill: #000;
    -fx-background-color: #aaa;
}